/**  =====================
      mail css start
==========================  **/
.choose-color {
  border: none;
}
.text-color-pick {
  border: none;
  background: none;
}

.btn.btn-muted {
  background-color: $gray-200;
  color: $theme-font-color;
  margin-left: 0px !important;
}

.colorpick-eyedropper-input-trigger {
  display: none;
}

// @include media-breakpoint-down(md) {}
// mail css end
