form .password-show {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px -12px 0px 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  position: absolute;
  top: 0px;
  right: 25px;
}
