<div class="row">
  <div class="col-sm-12">
    <app-form-switch></app-form-switch>
  </div>
  <div class="col-sm-12">
    <app-form-radio></app-form-radio>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Color Options">
      <div class="row">
        @for (item of colorTypes; track item) {
          <div class="col-sm-6">
            <div class="form-group">
              <label>{{ item.title }}</label>
              @for (color of item?.colors; track color) {
                <div class="form-check">
                  <input type="checkbox" class="form-check-input {{ color.type }}" [id]="color.id" [checked]="color.checked" />
                  <label [for]="color.id" class="form-check-label">{{ color.label }}</label>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-form-checkbox></app-form-checkbox>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Tags Input">
      <div class="mb-5">
        <h5>Basic Tag Input</h5>
        <hr />
        <p>Just add <code>ngModel</code> to your <code>tag-input</code> field to automatically change it to a tags input field.</p>
        <tag-input class="tag-chips" [(ngModel)]="items" [modelAsStrings]="true"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Read Only Tag Input</h5>
        <hr />
        <p>Just add <code>identifyBy, displayBy</code> attribute to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [(ngModel)]="itemsAsObjects" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Editable Tag Input</h5>
        <hr />
        <p
          >Just add <code>editable</code> attribute with <code>true</code> value, to your <code>tag-input</code> field. (doubble click on
          tag)</p
        >
        <tag-input class="tag-chips" [(ngModel)]="itemsEdit" [editable]="true"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input Limit (3)</h5>
        <hr />
        <p>Just add <code>maxItems, ripple</code> attribute to your <code>tag-input</code> field. (doubble click on tag)</p>
        <tag-input
          class="tag-chips"
          [ngModel]="['Amsterdam', 'Washington', 'Sydney']"
          [maxItems]="5"
          [ripple]="false"
          placeholder="Insert a new item"
        ></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input Validation</h5>
        <hr />
        <p>Just add <code>errorMessages, validators</code> attribute to your <code>tag-input</code> field.</p>
        <tag-input
          class="tag-chips"
          [ngModel]="['@Amsterdam$', '@Washington$', '@Sydney$']"
          [errorMessages]="errorMessages"
          [validators]="validators"
        ></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Space Key</h5>
        <hr />
        <p>Just add <code>separatorKeyCodes</code> attribute with <code>ket code</code> method to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [ngModel]="['Amsterdam']" [separatorKeyCodes]="[32, 188]"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Theme</h5>
        <hr />
        <p
          >Just add <code>theme</code> attribute with <code>bootstrap(default), danger, success, warning, dark</code> value to your
          <code>tag-input</code> field.</p
        >
        <tag-input class="tag-chips" [theme]="'dark'" [ngModel]="['Amsterdam', 'Washington']" name="items"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Minimal Theme</h5>
        <hr />
        <p
          >Just add <code>theme</code> attribute with
          <code>minimal, minimal-danger, minimal-success, minimal-warning, minimal-dark</code> value to your
          <code>tag-input</code> field.</p
        >
        <tag-input class="tag-chips" [theme]="'minimal-danger'" [ngModel]="['Amsterdam', 'Washington', 'Sydney']" name="items"></tag-input>
      </div>
    </app-card>
  </div>
</div>
