<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable" blockClass="p-0">
      
      <div class="bg-white p-4 d-flex align-items-center border-bottom" style="border-radius: 4px 4px 0 0">
        <div
          class="text-white bg-primary d-flex align-items-center justify-content-center flex-shrink-0"
          style="width: 44px; height: 44px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 123, 255, 0.22); margin-right: 20px;"
        >
          <i class="feather icon-user-plus" style="font-size: 19px; line-height: 1"></i>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h4 class="mb-1 font-weight-bold text-dark" style="letter-spacing: 0.5px; line-height: 1.2">{{ title }}</h4>
          <small class="text-muted" style="font-size: 85%; letter-spacing: 0.2px"
            >Registra los datos demográficos y de contacto del nuevo paciente en la plataforma</small
          >
        </div>
      </div>

      <div class="p-4 bg-white" style="border-radius: 0 0 4px 4px">
        <form #patientForm="ngForm" class="editForm" novalidate>
          <h5 class="mb-3 text-primary"><i class="feather icon-user"></i> Datos Personales</h5>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">NOMBRES</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="nombre"
                  placeholder="Ej. MÁXIMO"
                  [ngClass]="{ 'is-invalid': !nombre.valid && (nombre.dirty || nombre.touched || isSubmit) }"
                  #nombre="ngModel"
                  required
                  [(ngModel)]="paciente.nombre"
                />
                <label
                  *ngIf="!nombre.valid && (nombre.dirty || nombre.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">APELLIDO PATERNO</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="apellidoPaterno"
                  placeholder="Ej. ASCENCIO"
                  [ngClass]="{ 'is-invalid': !apellidoPaterno.valid && (apellidoPaterno.dirty || apellidoPaterno.touched || isSubmit) }"
                  #apellidoPaterno="ngModel"
                  required
                  [(ngModel)]="paciente.apellidoPaterno"
                />
                <label
                  *ngIf="!apellidoPaterno.valid && (apellidoPaterno.dirty || apellidoPaterno.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">APELLIDO MATERNO</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="apellidoMaterno"
                  placeholder="Ej. LÓPEZ"
                  [ngClass]="{ 'is-invalid': !apellidoMaterno.valid && (apellidoMaterno.dirty || apellidoMaterno.touched || isSubmit) }"
                  #apellidoMaterno="ngModel"
                  required
                  [(ngModel)]="paciente.apellidoMaterno"
                />
                <label
                  *ngIf="!apellidoMaterno.valid && (apellidoMaterno.dirty || apellidoMaterno.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">FECHA DE NACIMIENTO</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="aaaa-mm-dd"
                    name="fechaNacimiento"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    [(ngModel)]="paciente.fechaNacimiento"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">SEXO</label>
                <select class="form-control" name="sexo" [(ngModel)]="paciente.sexo">
                  <option value="H">MASCULINO</option>
                  <option value="M">FEMENINO</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">CURP</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="curp"
                  placeholder="Ej. ASLM88..."
                  maxlength="18"
                  minlength="18"
                  [ngClass]="{ 'is-invalid': !curp.valid && (curp.dirty || curp.touched || isSubmit) }"
                  #curp="ngModel"
                  required
                  [(ngModel)]="paciente.curp"
                />
                <label
                  *ngIf="!curp.valid && (curp.dirty || curp.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >LA CURP DEBE TENER 18 CARACTERES</label
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">TELÉFONO CELL</label>
                <input
                  type="text"
                  class="form-control"
                  name="telefono"
                  placeholder="Ej. 3333333333"
                  maxlength="10"
                  [ngClass]="{ 'is-invalid': !telefono.valid && (telefono.dirty || telefono.touched || isSubmit) }"
                  #telefono="ngModel"
                  required
                  [(ngModel)]="paciente.telefono"
                />
                <label
                  *ngIf="!telefono.valid && (telefono.dirty || telefono.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO (10 DÍGITOS)</label
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-label">DIRECCIÓN</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="direccion"
                  placeholder="Ej. AV. LOS ABEDULES #306 LOMAS DE SAN AGUSTÍN"
                  [ngClass]="{ 'is-invalid': !direccion.valid && (direccion.dirty || direccion.touched || isSubmit) }"
                  #direccion="ngModel"
                  required
                  [(ngModel)]="paciente.direccion"
                />
                <label
                  *ngIf="!direccion.valid && (direccion.dirty || direccion.touched || isSubmit)"
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <h5 class="mb-3 text-danger"><i class="feather icon-alert-triangle"></i> Contacto de Emergencia</h5>

          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label class="form-label">NOMBRE DEL CONTACTO</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="contactoEmergenciaNombre"
                  placeholder="Ej. MARÍA LÓPEZ"
                  [ngClass]="{
                    'is-invalid':
                      !contactoEmergenciaNombre.valid && (contactoEmergenciaNombre.dirty || contactoEmergenciaNombre.touched || isSubmit)
                  }"
                  #contactoEmergenciaNombre="ngModel"
                  required
                  [(ngModel)]="paciente.contactoEmergenciaNombre"
                />
                <label
                  *ngIf="
                    !contactoEmergenciaNombre.valid && (contactoEmergenciaNombre.dirty || contactoEmergenciaNombre.touched || isSubmit)
                  "
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="form-label">TELÉFONO DE EMERGENCIA</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactoEmergenciaTelefono"
                  placeholder="Ej. 3333333333"
                  maxlength="10"
                  [ngClass]="{
                    'is-invalid':
                      !contactoEmergenciaTelefono.valid &&
                      (contactoEmergenciaTelefono.dirty || contactoEmergenciaTelefono.touched || isSubmit)
                  }"
                  #contactoEmergenciaTelefono="ngModel"
                  required
                  [(ngModel)]="paciente.contactoEmergenciaTelefono"
                />
                <label
                  *ngIf="
                    !contactoEmergenciaTelefono.valid &&
                    (contactoEmergenciaTelefono.dirty || contactoEmergenciaTelefono.touched || isSubmit)
                  "
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">PARENTESCO / RELACIÓN</label>
                <input
                  type="text"
                  class="form-control uppercase"
                  name="contactoEmergenciaParentesco"
                  placeholder="Ej. ESPOSA, MADRE, HERMANO"
                  [ngClass]="{
                    'is-invalid':
                      !contactoEmergenciaParentesco.valid &&
                      (contactoEmergenciaParentesco.dirty || contactoEmergenciaParentesco.touched || isSubmit)
                  }"
                  #contactoEmergenciaParentesco="ngModel"
                  required
                  [(ngModel)]="paciente.contactoEmergenciaParentesco"
                />
                <label
                  *ngIf="
                    !contactoEmergenciaParentesco.valid &&
                    (contactoEmergenciaParentesco.dirty || contactoEmergenciaParentesco.touched || isSubmit)
                  "
                  class="error jquery-validation-error small form-text invalid-feedback"
                  >ESTE CAMPO ES OBLIGATORIO</label
                >
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-12 text-right">
              <button *ngIf="!isEdit" type="button" class="btn btn-primary" ngbTooltip="btn-primary" (click)="save(patientForm)">
                <i class="feather icon-save"></i> Guardar Paciente
              </button>
              <button *ngIf="isEdit" type="button" class="btn btn-primary" ngbTooltip="btn-primary" (click)="save(patientForm)">
                <i class="feather icon-refresh-cw"></i> Actualizar Paciente
              </button>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
