<div class="container">
  <div class="row">
    <!-- support-section start -->
    <div class="col-xl-4 col-md-6">
      <div class="card support-bar">
        <div class="card-body pb-0">
          <h2 class="m-0">350</h2>
          <span class="text-c-purple">Support Requests</span>
          <p class="mb-3 mt-3">Total number of support requests that come in.</p>
        </div>
        <apx-chart
          [chart]="support1HACC.chart"
          [dataLabels]="support1HACC.dataLabels"
          [colors]="support1HACC.colors"
          [stroke]="support1HACC.stroke"
          [series]="support1HACC.series"
          [tooltip]="support1HACC.tooltip"
        ></apx-chart>
        <div class="card-footer bg-purple text-white">
          <div class="row text-center">
            @for (item of chartValue; track $index) {
              <div class="col" ngClass="{{ item.style }}">
                <h4 class="m-0 text-white">{{ item.value }}</h4>
                <span>{{ item.status }}</span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- support-section end -->
    <!-- support1-section start -->
    <div class="col-xl-4 col-md-6">
      <div class="card support-bar">
        <div class="card-body pb-0">
          <h2 class="m-0">30<small>min</small></h2>
          <span class="text-c-blue">Agent Response</span>
          <p class="mb-3 mt-3">Total number ticket solve by the agent.</p>
        </div>
        <apx-chart
          [chart]="support2HACC.chart"
          [dataLabels]="support2HACC.dataLabels"
          [colors]="support2HACC.colors"
          [stroke]="support2HACC.stroke"
          [series]="support2HACC.series"
          [tooltip]="support2HACC.tooltip"
        ></apx-chart>
        <div class="card-footer bg-primary text-white">
          <div class="row text-center">
            <div class="col border-right">
              <h4 class="m-0 text-white">5</h4>
              <span>pending</span>
            </div>
            <div class="col">
              <h4 class="m-0 text-white">75+</h4>
              <span>Satisfied clients</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- support-section1 end -->
    <!-- support2-section start -->
    <div class="col-xl-4 col-md-12">
      <div class="card support-bar">
        <div class="card-body pb-0">
          <h2 class="m-0">800</h2>
          <span class="text-c-green">Support Resolved</span>
          <p class="mb-3 mt-3">Total number of support requests that come in.</p>
        </div>
        <apx-chart
          [chart]="support3HACC.chart"
          [dataLabels]="support3HACC.dataLabels"
          [colors]="support3HACC.colors"
          [stroke]="support3HACC.stroke"
          [series]="support3HACC.series"
          [tooltip]="support3HACC.tooltip"
        ></apx-chart>
        <div class="card-footer bg-success text-white">
          <div class="row text-center">
            @for (item of supportChart; track $index) {
              <div class="col" ngClass="{{ item.style }}">
                <h4 class="m-0 text-white">{{ item.value }}</h4>
                <span>{{ item.status }}</span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- support-section2 end -->
    <!-- customer-section start -->
    <div class="col-xl-8 col-md-6">
      <div class="card">
        <div class="card-body">
          <h6>Customer Satisfaction</h6>
          <span
            >It takes continuous effort to maintain high customer satisfaction levels.Internal and external quality measures are often tied
            together.,as the opinion...</span
          >
          <span class="text-c-blue d-block">Learn more..</span>
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-sm-6">
              <apx-chart
                [chart]="satisfactionHACC.chart"
                [dataLabels]="satisfactionHACC.dataLabels"
                [labels]="satisfactionHACC.labels"
                [legend]="satisfactionHACC.legend"
                [series]="satisfactionHACC.series"
                [responsive]="satisfactionHACC.responsive"
                [theme]="satisfactionHACC.theme"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <!-- rating-section start -->
      <div class="row">
        @for (item of source; track $index) {
          <div class="col-xl-6 col-md-12">
            <div class="card social-res-card">
              <div class="card-header">
                <h5>{{ item.title }}</h5>
              </div>
              <div class="card-body">
                @for (progress of item.progressBar; track progress) {
                  <p class="m-b-10">{{ progress.title }}</p>
                  <ngb-progressbar type="primary" height="7px" value="{{ progress.value }}" class="m-b-25"></ngb-progressbar>
                }
              </div>
            </div>
          </div>
        }
      </div>
      <!-- rating-section end -->
    </div>
    <!-- customer-section end -->
    <!-- latest-section start -->
    <div class="col-xl-4 col-md-6">
      <div class="card latest-update-card">
        <div class="card-header">
          <h5>Latest Activity</h5>
        </div>
        <div class="card-body">
          <ng-scrollbar style="height: 360px" visibility="hover">
            <div class="latest-update-box">
              @for (activity of activities; track activity) {
                <div class="row p-b-20 client">
                  <div class="col-auto text-end update-meta">
                    <i class="{{ activity.color }} update-icon ring"></i>
                  </div>
                  <div class="col p-l-5">
                    <a href="javascript:;">
                      <h6 class="m-0">{{ activity.title }}</h6>
                    </a>
                    <p class="m-b-0">Lorem ipsum dolor sit amen, <a href="javascript:;" class="{{ activity.background }}"> More</a></p>
                  </div>
                </div>
              }
            </div>
          </ng-scrollbar>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          @for (card of cards; track card) {
            <div class="card flat-card {{ card.background }}">
              <div class="card-body p-0">
                <div class="row row-table">
                  <div class="col-sm-3 card-body text-center">
                    <i class="f-28 {{ card.icon }}"></i>
                  </div>
                  <div class="col-sm-9 p-l-15 my-2 m-sm-0">
                    <h4>{{ card.title }}</h4>
                    <h6>{{ card.text }}</h6>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <!-- latest-section end -->
  </div>
</div>
