<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Bar [ Basic ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="barBasicChartOptions"
        style="width: 100%; height: 450px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Line [ Basic ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="lineBasicChartOptions"
        style="width: 100%; height: 350px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Area [ Zoom ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="areaZoomChartOptions"
        style="width: 100%; height: 350px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Pie [ Basic ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="pieBasicChartOptions"
        style="width: 100%; height: 350px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Pie [ Donut ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="pieDonutChartOptions"
        style="width: 100%; height: 350px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Pie [ 3D ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="pie3DChartOptions"
        style="width: 100%; height: 350px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Pie [ Donut 3D ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="pieDonut3DChartOptions"
        style="width: 100%; height: 350px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Combinations [ Column, Line & Pie ] Chart">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="combinationsChartOptions"
        style="width: 100%; height: 450px; display: block"
      ></highcharts-chart>
    </app-card>
  </div>
</div>
