<div class="row">
  <!-- order-card start -->
  @for (card of cards; track card) {
    <div class="col-md-6 col-xl-3">
      @defer (on viewport) {
        <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
          <h6 class="text-white">{{ card.title }}</h6>
          <h2 class="text-end text-white"
            ><i class="feather {{ card.icon }} float-start"></i><span>{{ card.number }}</span>
          </h2>
          <p class="m-b-0"
            >{{ card.text }}<span class="float-end">{{ card.no }}</span></p
          >
        </app-card>
      } @placeholder {
        <app-placeholder-card-1 [height]="132" />
      }
    </div>
  }
  <!-- order-card end -->

  <!-- account-section start -->
  <div class="col-xl-6 col-md-12">
    @defer (on viewport) {
      <app-card cardTitle="Unique Visitor">
        <div id="statisticsChart">
          <apx-chart
            [chart]="statistics_chart.chart"
            [dataLabels]="statistics_chart.dataLabels"
            [stroke]="statistics_chart.stroke"
            [series]="statistics_chart.series"
            [xaxis]="statistics_chart.xaxis"
            [colors]="statisticsChartColors"
            [fill]="statistics_chart.fill"
            [markers]="statistics_chart.markers"
            [yaxis]="statistics_chart.yaxis"
            [theme]="statistics_chart.theme"
          >
          </apx-chart>
        </div>
      </app-card>
    } @placeholder {
      <app-placeholder-card-1 [height]="326" />
    }
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="row">
      <div class="col-md-6">
        @defer (on viewport) {
          <app-card [hidHeader]="true">
            <div class="row">
              <div class="col-auto">
                <span>Customers</span>
              </div>
              <div class="col text-end">
                <h2 class="mb-0">826</h2>
                <span class="text-c-green">8.2%<i class="feather icon-trending-up ms-1"></i></span>
              </div>
            </div>
            <div id="customerChart">
              <apx-chart
                [series]="customer_chart.series"
                [chart]="customer_chart.chart"
                [stroke]="customer_chart.stroke"
                [dataLabels]="customer_chart.dataLabels"
                [labels]="customer_chart.labels"
                [legend]="customer_chart.legend"
                [colors]="customerChartColors"
                [fill]="customer_chart.fill"
                [grid]="customer_chart.grid"
                [plotOptions]="customer_chart.plotOptions"
                [tooltip]="customer_chart.tooltip"
                [theme]="customer_chart.theme"
              >
              </apx-chart>
            </div>
            <div class="row mt-3 text-center">
              <div class="col">
                <h3 class="m-0"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                <span class="ms-3">New</span>
              </div>
              <div class="col">
                <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>182</h3>
                <span class="ms-3">Return</span>
              </div>
            </div>
          </app-card>
        } @placeholder {
          <app-placeholder-card-1 [height]="326" />
        }
      </div>
      <div class="col-md-6">
        @defer (on viewport) {
          <app-card [hidHeader]="true" cardClass="bg-primary text-white">
            <div class="row">
              <div class="col-auto">
                <span>Customers</span>
              </div>
              <div class="col text-end">
                <h2 class="mb-0 text-white">826</h2>
                <span class="text-white">8.2%<i class="feather icon-trending-up ms-1"></i></span>
              </div>
            </div>
            <div id="customerChart2">
              <apx-chart
                [series]="customChart_2.series"
                [chart]="customChart_2.chart"
                [stroke]="customChart_2.stroke"
                [dataLabels]="customChart_2.dataLabels"
                [labels]="customChart_2.labels"
                [legend]="customChart_2.legend"
                [colors]="customerChartColors2"
                [fill]="customChart_2.fill"
                [grid]="customChart_2.grid"
                [plotOptions]="customChart_2.plotOptions"
                [tooltip]="customChart_2.tooltip"
                [theme]="customChart_2.theme"
              ></apx-chart>
            </div>
            <div class="row mt-3 text-center">
              <div class="col">
                <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>674</h3>
                <span class="ms-3">New</span>
              </div>
              <div class="col">
                <h3 class="m-0 text-white"><i class="fas fa-circle text-white f-10 m-r-5"></i>182</h3>
                <span class="ms-3">Return</span>
              </div>
            </div>
          </app-card>
        } @placeholder {
          <app-placeholder-card-1 [height]="326" />
        }
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-4">
    @defer (on viewport) {
      <div class="card seo-card overflow-hidden">
        <div class="card-body seo-statustic">
          <i class="feather icon-save f-20 text-danger"></i>
          <h5 class="mb-1">65%</h5>
          <p>Memory</p>
        </div>
        <div id="seoChart" class="seo-chart">
          <apx-chart
            [series]="seo_Chart.series"
            [chart]="seo_Chart.chart"
            [stroke]="seo_Chart.stroke"
            [dataLabels]="seo_Chart.dataLabels"
            [colors]="seoChartColor"
            [fill]="seo_Chart.fill"
            [tooltip]="seo_Chart.tooltip"
            [yaxis]="seo_Chart.yaxis"
            [theme]="seo_Chart.theme"
          ></apx-chart>
        </div>
      </div>
    } @placeholder {
      <app-placeholder-card-1 [height]="205" />
    }
  </div>
  <!-- </div> -->
  <div class="col-md-6 col-lg-4">
    @defer (on viewport) {
      <app-card [hidHeader]="true" blockClass="text-center">
        <i class="fa fa-envelope-open text-c-blue d-block f-40"></i>
        <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
        <p class="m-b-20">Your main list is growing</p>
        <button class="btn btn-primary btn-sm btn-round">Manage List</button>
      </app-card>
    } @placeholder {
      <app-placeholder-card-1 [height]="205" />
    }
  </div>
  <div class="col-md-6 col-lg-4">
    @defer (on viewport) {
      <app-card [hidHeader]="true" blockClass="text-center">
        <i class="fab fa-twitter text-c-green d-block f-40"></i>
        <h4 class="m-t-20"><span class="text-c-green">+40</span> Followers</h4>
        <p class="m-b-20">Your main list is growing</p>
        <button class="btn btn-success btn-sm btn-round">Check Theme Out</button>
      </app-card>
    } @placeholder {
      <app-placeholder-card-1 [height]="205" />
    }
  </div>
  <!-- account-section end -->

  <!-- conversion-section start -->

  <div class="col-lg-4 col-md-12">
    @defer (on viewport) {
      <div class="card overflow-hidden">
        <div class="card-body">
          <h6>Conversions</h6>
          <h4 class="m-0"
            >0.85% <span class="text-primary"><i class="feather icon-arrow-up"></i> 0.50%</span></h4
          >
          <span>Purchased</span>
        </div>
        <div id="conversionsChart1">
          <apx-chart
            [series]="conversion1.series"
            [chart]="conversion1.chart"
            [dataLabels]="conversion1.dataLabels"
            [colors]="conversion1Color"
            [fill]="conversion1.fill"
            [plotOptions]="conversion1.plotOptions"
            [tooltip]="conversion1.tooltip"
            [xaxis]="conversion1.xaxis"
            [theme]="conversion1.theme"
          ></apx-chart>
        </div>
      </div>
    } @placeholder {
      <app-placeholder-card-1 [height]="177" />
    }
    @defer (on viewport) {
      <div class="card overflow-hidden">
        <div class="card-body">
          <h6>Conversions</h6>
          <h4 class="m-0"
            >0.85% <span class="text-success"><i class="feather icon-arrow-up"></i> 0.50%</span></h4
          >
          <span>Purchased</span>
        </div>
        <div id="conversionsChart2">
          <apx-chart
            [series]="conversion2.series"
            [chart]="conversion2.chart"
            [dataLabels]="conversion2.dataLabels"
            [colors]="conversion2Color"
            [fill]="conversion2.fill"
            [plotOptions]="conversion2.plotOptions"
            [tooltip]="conversion2.tooltip"
            [xaxis]="conversion2.xaxis"
            [theme]="conversion2.theme"
          ></apx-chart>
        </div>
      </div>
    } @placeholder {
      <app-placeholder-card-1 [height]="177" />
    }
    @defer (on viewport) {
      <div class="card overflow-hidden">
        <div class="card-body">
          <h6>Conversions</h6>
          <h4 class="m-0"
            >0.85% <span class="text-danger"><i class="feather icon-arrow-up"></i> 0.50%</span></h4
          >
          <span>Purchased</span>
        </div>
        <div id="conversionsChart3">
          <apx-chart
            [series]="conversion3.series"
            [chart]="conversion3.chart"
            [dataLabels]="conversion3.dataLabels"
            [colors]="conversion3Color"
            [fill]="conversion3.fill"
            [plotOptions]="conversion3.plotOptions"
            [tooltip]="conversion3.tooltip"
            [xaxis]="conversion3.xaxis"
            [theme]="conversion3.theme"
          ></apx-chart>
        </div>
      </div>
    } @placeholder {
      <app-placeholder-card-1 [height]="177" />
    }
  </div>
  <div class="col-lg-8 col-md-12">
    @defer (on viewport) {
      <app-card cardTitle="Activity Feed" blockClass="m-t-10">
        <ul class="feed-blog ps-0">
          <li class="active-feed">
            <div class="feed-user-img">
              <img src="assets/images/user/avatar-4.jpg" class="img-radius" alt="User-Profile-Image" />
            </div>
            <h6><span class="badge bg-danger">File</span> Eddie uploaded new files: <small class="text-muted ms-1">2 hours ago</small></h6>
            <p class="m-b-15 m-t-15"
              >hii <b> &#64;everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.</p
            >
            <div class="row">
              @for (image of images; track image) {
                <div class="col-auto text-center">
                  <img src="{{ image.src }}" alt="img" class="img-fluid wid-100" />
                  <h6 class="m-t-15 m-b-0">{{ image.title }}</h6>
                  <p class="text-muted m-b-0"
                    ><small>{{ image.size }}</small></p
                  >
                </div>
              }
            </div>
          </li>
          <li class="diactive-feed">
            <div class="feed-user-img">
              <img src="assets/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image" />
            </div>
            <h6
              ><span class="badge bg-success">Task</span> Sarah marked the Pending Review:
              <span class="text-c-green"> Trash Can Icon Design </span><small class="text-muted"> 2 hours ago</small>
            </h6>
          </li>
          <li class="diactive-feed">
            <div class="feed-user-img">
              <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image" />
            </div>
            <h6
              ><span class="badge bg-primary">comment</span> abc posted a task: <span class="text-c-green">Design a new Homepage </span>
              <small class="text-muted">6 hours ago</small>
            </h6>
            <p class="m-b-15 m-t-15"
              >hii <b> &#64;everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.</p
            >
          </li>
        </ul>
      </app-card>
    } @placeholder {
      <app-placeholder-card-1 [height]="620" />
    }
  </div>
  <!-- conversion-section end -->

  <div class="col-md-12">
    @defer (on viewport) {
      <app-card cardTitle="Campaign Monitor" cardClass="tab-card tab-content" blockClass="nav-fill">
        <ul ngbNav #nav="ngbNav" aria-busy="true" class="nav-pills">
          <li [ngbNavItem]="1" class="flex">
            <a ngbNavLink><i class="fa fa-home m-r-10"></i>Home</a>
            <ng-template ngbNavContent>
              <div class="table-responsive">
                <app-product-sale></app-product-sale>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="flex">
            <a ngbNavLink><i class="fa fa-key m-r-10"></i>Security</a>
            <ng-template ngbNavContent>
              <app-product-sale></app-product-sale>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" class="flex">
            <a ngbNavLink><i class="fa fa-play-circle m-r-10"></i>Entertainment</a>
            <ng-template ngbNavContent>
              <app-product-sale></app-product-sale>
            </ng-template>
          </li>
          <li [ngbNavItem]="4" class="flex">
            <a ngbNavLink><i class="fa fa-database m-r-10"></i>Big Data</a>
            <ng-template ngbNavContent>
              <app-product-sale></app-product-sale>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </app-card>
    } @placeholder {
      <app-placeholder-card-1 [height]="500" />
    }
  </div>
</div>
