<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Notification">
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('default', 'Good evening, you lovely person!')">
        Default me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('info', 'This library is built on top of Angular 2.')">
        Info me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('success', 'Notification successfully opened.')">
        Success me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('warning', 'Warning! But not an error! Just a warning!')">
        Warning me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('error', 'Whoops, something went wrong. Probably.')">
        Error me!
      </button>
    </app-card>
  </div>
</div>

<notifier-container></notifier-container>
