<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Image Grid">
      <div class="row text-center border-less-image-gallery">
        @for (image of Images; track image) {
          <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
            <div class="thumbnail">
              <div class="thumb">
                <img src="{{ image.src }}" alt="gallery img" class="img-frame img-fluid" (click)="openModal(400, images, imageIndex)" />
              </div>
            </div>
          </div>
        }
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Video Grid">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="ratio ratio-16x9">
                <iframe
                  allowfullscreen
                  title="Promo Video"
                  src="//player.vimeo.com/video/246066429?title=0&amp;byline=0&amp;portrait=0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="ratio ratio-16x9">
                <iframe
                  allowfullscreen
                  title="Promo Video"
                  src="//player.vimeo.com/video/246066429?title=0&amp;byline=0&amp;portrait=0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="ratio ratio-16x9">
                <iframe
                  allowfullscreen
                  title="Promo Video"
                  src="//player.vimeo.com/video/246066429?title=0&amp;byline=0&amp;portrait=0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" title="Promo Video" src="//www.youtube.com/embed/ZQ264Axbjxg"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" title="Promo Video" src="//www.youtube.com/embed/oD-lmrfPECA"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail mb-4">
            <div class="thumb">
              <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" title="Promo Video" src="//www.youtube.com/embed/ilLU5vxhLYA"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
